{% extends 'base.html.twig' %}

{% block title%}Syminvoice Invoices - new{% endblock %}

{% block body%} 
<h1> Step 1 header invoice</h1>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    {{ form_end(form)}}
{% endblock %}
